.container {
  margin-top: 25px;
  min-width: 375px;
}
.healthbar {
  position: relative;
  background-color: green;
  width: 80%;
  height: 50px;
  transition-duration: 500ms;
  z-index: 2;
  color:white;
}
.healthrow {
  position: relative;
  font-weight: 700;
  font-size: 1.25em;
  height: 50px;
  background-color: yellow;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}
.player-name {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 3em;
}
.box {
  border: 1px solid gray;
  box-shadow: 0 5px 5px gray;
  margin-top: 25px;
}
.optionsbar {
  background-color: #f5f9ff;
}
.logs {
  background-color: rgb(255, 250, 250);
  padding: 10px;
}
.btn {
  margin: 10px;
}
.log {
  text-decoration: none;
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-weight: 500;
  font-size: 1.25em;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-status {
  font-weight: 700;
  font-size: 2em;
  padding: 10px;
}
